@import url('jquery.fullpage.min.css');
@import url('bootstrap.css');
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
body {
  font-family: "GothamPro", sans-serif;
}
.item__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}
.gallery {
  background-image: url("../img/bg.png");
}
.fp-section {
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
.fp-section h1 {
  font-weight: 600;
  margin-bottom: 60px;
  margin-top: 30px;
  font-size: 64px;
  position: relative;
}
.fp-section h1:after {
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  background: #ffffff;
  width: 60px;
  bottom: -30px;
}
@media (max-width: 768px) {
  .fp-section {
    font-size: 16px;
  }
  .fp-section h1 {
    font-size: 26px;
  }
}
.item__image {
  height: 100vh;
  margin-top: -40px;
  background-size: cover;
}
.logo {
  z-index: 2;
  position: absolute;
  width: 50px;
  top: 19px;
  left: 21px;
}
img {
  max-width: 100%;
}
.b-fotorama {
  margin-top: -40px;
}
.menu {
  display: block;
  padding: 0;
  margin: 0;
  right: 80px;
  position: absolute;
  z-index: 10;
}
.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  float: left;
  list-style-type: none;
  position: relative;
  cursor: default;
}
.menu li a {
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-weight: 400;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
.menu li a:before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 90%;
  height: 1px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.menu li a:hover {
  text-decoration: none;
}
.menu li a:hover:before {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  background: #ffffff;
}
.gallery-page .fp-section {
  background: url("../img/bg.png");
}
.home-content {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: -webkit-transform 0.7s, -moz-transform 0.7s, -o-transform 0.7s, transform 0.7s;
  background: #111111;
  overflow: hidden;
}
/*-----------*/
#scene .layer {
  height: 100%;
  width: 100%;
}
#scene .parallax-overlay {
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  background: #000000;
}
.opacity-30 {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: .3;
  -moz-opacity: .3;
  opacity: .3;
}
#scene .button-header-wrapper {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 50%;
  left: 25%;
  z-index: 999;
}
.button-table-bottom {
  display: table;
  height: 100%;
  width: 100%;
}
.button-table-bottom-cell {
  display: table-cell;
  vertical-align: bottom;
}
#scene .button-header-wrapper h1 {
  font-size: 80px;
  color: #ffffff;
  margin: 0;
  line-height: 1.1;
  font-weight: 900;
}
.home-content .first-line,
.home-content .second-line {
  display: inline-block;
}
#scene .button-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 999;
}
#scene .button-content {
  font-size: 30px;
}
#scene .button-frame {
  border: none;
  padding: 0;
  margin: 0;
}
#scene .button-content {
  display: inline-block;
  padding: 30px;
  color: transparent;
  margin-left: -30px;
  line-height: 1;
  font-weight: 300;
}
#scene .button-content a {
  position: relative;
  padding: 10px 30px;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#scene .button-content a:hover:before {
  transform: translate(-4px, -4px);
}
#scene .button-content a:hover:after {
  transform: translate(4px, 4px);
}
#scene .button-content a:before,
#scene .button-content a:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.15s ease-in-out;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}
#scene .button-frame-inner {
  display: inline-block;
  padding: 30px;
  border: 2px solid #ffffff;
  color: transparent;
  margin-left: -30px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 5px;
  position: relative;
}
.home-content .first-line,
.home-content .second-line {
  display: inline-block;
}
#scene .button-arrow {
  border-color: transparent;
  color: transparent;
}
svg:not(:root) {
  overflow: hidden;
}
#scene .button-text {
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  position: relative;
}
#scene a {
  color: #ffffff;
}
#reservation-trigger {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
#scene .button-text:hover {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: transparent !important;
}
#scene .button-text:hover {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}
.home-logo {
  padding-top: 90px;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;
}
.home-info {
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: -webkit-transform 0.7s, -moz-transform 0.7s, -o-transform 0.7s, transform 0.7s;
  font-size: 14px;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  background-repeat: repeat-x;
  background-size: cover;
  z-index: 2;
  padding-left: 60px;
  padding-right: 60px;
}
.text-center {
  text-align: center;
}
.home-info-footer.bottom {
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}
p {
  margin: 0 0 30px;
}
.social-profiles ul {
  list-style: none;
  display: block;
  margin-left: 0;
}
.social-profiles li {
  display: inline-block;
  margin: 0 5px;
  line-height: 26px !important;
}
ul > li {
  list-style-type: square;
}
.social-profiles li a {
  height: 30px;
  width: 30px;
  display: block;
}
.home-info-footer {
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
}
.member {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin: 30px 0;
}
.member-name {
  margin: 0 0 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.member-pos {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.member-desc {
  letter-spacing: 1px;
}
.container {
  width: 970px;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff;
}
.row.welcome-page {
  margin: 0;
}
.menu-pdf {
  position: relative;
  top: 20vh;
  height: 80vh;
}
.link-pdf {
  position: relative;
  top: 20vh;
}
.link-pdf a {
  color: #ffffff;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 17px;
}
.link-pdf a:hover {
  text-decoration: none;
  font-weight: bold;
}
.section-pdf {
  min-height: 100vh;
}
.subnav {
  position: absolute;
  background: #000000;
  left: 0;
  width: 220px;
  display: none;
}
.subnav-wrapper {
  display: block;
  padding: 0;
}
.subnav-wrapper .menu-item {
  display: block;
  float: none;
  padding: 5px 10px;
}
.subnav-wrapper .menu-item a {
  line-height: 30px;
  font-size: 10px;
}
.subnav-wrapper .menu-item a:before {
  bottom: 5px;
}
.menu li a:hover {
  text-decoration: none;
}
.menu li:hover .subnav {
  display: block;
}
@media (max-width: 768px) {
  .mobile-none {
    display: none;
  }
}
.gallery-item {
  padding: 16px;
}
.breadcrumbs {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
}
.breadcrumbs li {
  display: inline-block;
  padding: 0 2px;
}
.breadcrumbs li a {
  color: #ffffff;
}
.breadcrumbs li:after {
  content: "/";
  display: inline-block;
  color: #ffffff;
}
.breadcrumbs li:last-child:after {
  content: none;
}
