@import url('jquery.fullpage.min.css');
@import url('jquery.parallax.css');
@import url('bootstrap.css');
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
body {
  font-family: "GothamPro", sans-serif;
}
.item__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}
.gallery {
  background-image: url("../img/bg.png");
}
.fp-section {
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
.fp-section h1 {
  font-weight: 600;
  margin-bottom: 60px;
  margin-top: 30px;
  font-size: 64px;
  position: relative;
}
.fp-section h1:after {
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  background: #ffffff;
  width: 60px;
  bottom: -30px;
}
@media (max-width: 768px) {
  .fp-section {
    font-size: 16px;
  }
  .fp-section h1 {
    font-size: 26px;
  }
}
.item__image {
  height: 100vh;
  margin-top: -40px;
  background-size: cover;
}
.logo {
  z-index: 2;
  position: absolute;
  width: 55px;
  top: 10px;
  left: 30px;
}
img {
  max-width: 100%;
}
.b-fotorama {
  margin-top: -40px;
}
